{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": false,
        "loose": true,
        "targets": {
          "browsers": ["since 2018"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    ["syntax-dynamic-import"],
    ["transform-class-properties"],
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
