{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["since 2017"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    ["transform-class-properties"],
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
