.App {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr minmax(900px, 1200px) 1fr;
  grid-template-rows: 55px auto;
  grid-template-areas: ".      header       ." ".      chart        .";
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #2AF598 100%); }
