.author {
    position: fixed;
    bottom: 0;
    right: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;

    > img {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        animation: pound 1.2s infinite alternate;
    }

    > span {
        margin: 0 5px;
        transition: all 300ms ease;
    }

    &:hover {
        > span {
            font-weight: 700;
            color: white;  
        }
    }
    
}

@keyframes pound {
    to {
        transform: scale(1.4)
    }
}