.controls {
  grid-area: controls;
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-start; }

.marginRight {
  margin-right: 20px; }

.button {
  appearance: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  color: #4e4e4e;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background-color: whitesmoke;
  padding: 0.6rem; }

.input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  color: #4e4e4e;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background-color: whitesmoke; }
  .input > input[type=text] {
    color: #4e4e4e;
    width: 80px;
    margin: 0 0 0 10px;
    text-align: center;
    line-height: 1.5;
    background-color: whitesmoke;
    border: none;
    border-bottom: 1px solid #dbdbdb; }

.fileInput {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: whitesmoke;
  color: #4e4e4e;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  line-height: 1.5rem;
  padding: 0.6rem; }
  .fileInput > input[type=file] {
    outline: none;
    position: absolute;
    left: 0;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden; }
  .fileInput > img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem; }

.comboBox {
  border: 1px solid #dbdbdb;
  width: 150px;
  border-radius: 3px;
  overflow: hidden;
  background: whitesmoke url("../assets/down-arrow.svg") no-repeat 92% 50%; }
  .comboBox > select {
    font-family: "Space Mono", monospace, sans-serif;
    line-height: 1.5rem;
    padding: 0.6rem;
    width: 100%;
    color: #4e4e4e;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    appearance: none; }
    .comboBox > select:focus {
      outline: none; }

.checkBox {
  border: 1px solid #dbdbdb;
  background-color: whitesmoke;
  color: #4e4e4e;
  padding: 0.6rem;
  border-radius: 3px;
  cursor: pointer; }
  .checkBox > input[type=checkbox] {
    margin-right: 0.5rem; }
