.header {
  grid-area: header;
  padding: 0px 20px;
  background-color: #003459;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
  color: #dedede;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header > a:nth-child(1) {
    font-size: 1.4rem; }
