.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #2c2e3e; }
  .logo > img {
    width: 50px;
    height: 50px;
    margin-right: 10px; }
  .logo:hover .hide {
    opacity: 1; }
  .logo:hover .last {
    transform: translateX(15px); }
  .logo .hide {
    opacity: 0;
    transition: all 500ms ease; }
  .logo .last {
    display: inline-block;
    transform: translateX(-95px);
    transition: transform 500ms ease; }

.repo {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #2c2e3e; }
  .repo > img {
    width: 30px;
    height: 30px;
    margin: 0 5px; }
