.header {
    grid-area: header;
    // z-index: 100;
    // padding: 0px 20px;
    // background-color: #00385e;
    // box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.6rem;
    color: #2c2e3e;

    &:hover {
        .hide {
            opacity: 1;
        }

        .last {
            transform: translateX(15px);
        }
    }

    .hide {
        opacity: 0;
        transition: all 500ms ease;
    }

    .last {
        display: inline-block;
        transform: translateX(-95px);
        transition: transform 500ms ease;
    }    
}

.author {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #2c2e3e;
    line-height: 1.1rem;
    font-size: 1rem;
    // transform: translateX(-50%)
}

.repo {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #2c2e3e;
}

.headerImage {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

@keyframes pound {
    to {
        transform: scale(1.1)
    }
}

.pulse {
    animation: pound 800ms infinite alternate;
}