@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700");
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  font-size: 1em;
  font-weight: 400; }

.App {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr minmax(800px, 1200px) 1fr;
  grid-template-rows: 55px auto;
  grid-template-areas: ".      header       ." ".      chart        .";
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #2AF598 100%); }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.modal {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr minmax(800px, 1200px) 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "   .   options    ." "   .   datagrid   .";
  animation: fadeIn 500ms ease; }

.options {
  grid-area: options;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.closeBtn {
  position: absolute;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .closeBtn > span {
    color: whitesmoke;
    font-size: 1.5rem;
    transform: translateX(30px);
    opacity: 0;
    transition: all 500ms ease; }
  .closeBtn:hover > span {
    opacity: 1;
    transform: translateX(0); }

.dataGrid {
  grid-area: datagrid;
  background-color: whitesmoke;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  overflow: scroll;
  padding: 3px; }
  .dataGrid table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0px; }
    .dataGrid table tr:nth-child(even) {
      background-color: #dbdbdb; }
    .dataGrid table td, .dataGrid table th {
      text-align: left;
      line-height: 1.6rem;
      border: 1px solid #4e4e4e;
      border-width: 0 0 1px; }

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #2c2e3e; }
  .logo > img {
    width: 50px;
    height: 50px;
    margin-right: 10px; }
  .logo:hover .hide {
    opacity: 1; }
  .logo:hover .last {
    transform: translateX(15px); }
  .logo .hide {
    opacity: 0;
    transition: all 500ms ease; }
  .logo .last {
    display: inline-block;
    transform: translateX(-95px);
    transition: transform 500ms ease; }

.repo {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #2c2e3e; }
  .repo > img {
    width: 30px;
    height: 30px;
    margin: 0 5px; }

.controls {
  grid-area: controls;
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-start; }

.marginRight {
  margin-right: 20px; }

.button {
  appearance: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  color: #4e4e4e;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background-color: whitesmoke;
  padding: 0.6rem; }

.input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  color: #4e4e4e;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background-color: whitesmoke; }
  .input > input[type=text] {
    color: #4e4e4e;
    width: 80px;
    margin: 0 0 0 10px;
    text-align: center;
    line-height: 1.5;
    background-color: whitesmoke;
    border: none;
    border-bottom: 1px solid #dbdbdb; }

.fileInput {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: whitesmoke;
  color: #4e4e4e;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  line-height: 1.5rem;
  padding: 0.6rem; }
  .fileInput > input[type=file] {
    outline: none;
    position: absolute;
    left: 0;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden; }
  .fileInput > img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem; }

.comboBox {
  border: 1px solid #dbdbdb;
  width: 150px;
  border-radius: 3px;
  overflow: hidden;
  background: whitesmoke url("../assets/down-arrow.svg") no-repeat 92% 50%; }
  .comboBox > select {
    font-family: "Space Mono", monospace, sans-serif;
    line-height: 1.5rem;
    padding: 0.6rem;
    width: 100%;
    color: #4e4e4e;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    appearance: none; }
    .comboBox > select:focus {
      outline: none; }

.checkBox {
  border: 1px solid #dbdbdb;
  background-color: whitesmoke;
  color: #4e4e4e;
  padding: 0.6rem;
  border-radius: 3px;
  cursor: pointer; }
  .checkBox > input[type=checkbox] {
    margin-right: 0.5rem; }

.chart {
  grid-area: chart;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start; }
  .chart > canvas {
    margin-top: 10px;
    background: #f6f6f6;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }

@keyframes fadetoright {
  from {
    opacity: 0;
    transform: translateX(-30px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadetobottom {
  from {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.fadeToRight {
  animation: fadetoright 500ms ease; }

.alarm {
  display: inline-flex;
  align-items: center;
  animation: fadetoright 300ms ease; }
  .alarm > img {
    width: 20px;
    height: 20px;
    margin-right: 10px; }

.information {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  padding: 30px 0 0 0;
  animation: fadetobottom 600ms ease; }
  .information h1 {
    margin-top: 0; }
  .information > div:last-child {
    font-size: 1rem;
    display: inline-flex;
    align-items: center; }

.description a {
  color: black;
  font-weight: 700;
  text-decoration: none; }

.author {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 0.9rem; }
  .author > img {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    animation: pound 1.2s infinite alternate; }
  .author > span {
    margin: 0 5px;
    transition: all 300ms ease; }
  .author:hover > span {
    font-weight: 700;
    color: white; }

@keyframes pound {
  to {
    transform: scale(1.4); } }
