@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.modal {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 50px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr minmax(800px, 1200px) 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "   .   options    ." "   .   datagrid   .";
  animation: fadeIn 500ms ease; }

.options {
  grid-area: options;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.closeBtn {
  position: absolute;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .closeBtn > span {
    color: whitesmoke;
    font-size: 1.5rem;
    transform: translateX(30px);
    opacity: 0;
    transition: all 500ms ease; }
  .closeBtn:hover > span {
    opacity: 1;
    transform: translateX(0); }

.dataGrid {
  grid-area: datagrid;
  background-color: whitesmoke;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  overflow: scroll;
  padding: 3px; }
  .dataGrid table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0px; }
    .dataGrid table tr:nth-child(even) {
      background-color: #dbdbdb; }
    .dataGrid table td, .dataGrid table th {
      text-align: left;
      line-height: 1.6rem;
      border: 1px solid #4e4e4e;
      border-width: 0 0 1px; }
