@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.modal {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.7);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr minmax(1000px, 1200px) 1fr;
    grid-template-rows: 50px 60px 1fr 1fr 50px;
    grid-template-areas: 
        "   .   .   ."
        "   .   options   ."
        "   .   datagrid   ."
        "   .   datagrid   ."
        "   .   .   .";
    animation: fadeIn 500ms ease;
}

.options {
    grid-area: options;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options > a {
    cursor: pointer;
    > img {
        vertical-align: middle;
    }
}

.fileInput {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: whitesmoke;
    color: #4e4e4e;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    line-height: 1.5rem;
    padding: 0.6rem;
    
    > input[type=file] {
        outline: none;
        position: absolute;
        left: 0;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
    }

    > img {
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
    }
}

.comboBox {
    border: 1px solid #dbdbdb;
    width: 150px;
    border-radius: 3px;
    overflow: hidden;
    background: whitesmoke url("../assets/down-arrow.svg") no-repeat 92% 50%;

    > select {
        font-family: "Space Mono", monospace, sans-serif;
        line-height: 1.5rem;
        padding: 0.6rem;
        width: 100%;
        color: #4e4e4e;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        appearance: none;

        &:focus {
            outline: none;
        }
    }
}

.checkBox {
    border: 1px solid #dbdbdb;
    background-color: whitesmoke;
    color: #4e4e4e;
    padding: 0.6rem;
    border-radius: 3px;
    cursor: pointer;

    > input[type=checkbox] {
        margin-right: 0.5rem;
        // vertical-align: middle;
    }
}

.dataGrid {
    grid-area: datagrid;
    background-color: whitesmoke;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    overflow: scroll;
    padding: 3px;

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        tr {
            &:nth-child(even) {
                background-color: #dbdbdb;
            }
        }
        td, th {
            text-align: left;
            line-height: 1.6rem;
            border: 1px solid #4e4e4e;
            border-width: 0 0 1px;
            
        }
    }
}