@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";

$modal-content-width: 970px;

@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/layout/_all";

.author {
  text-decoration: none;
  font-size: 0.8rem;
  margin-left: 10px;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  > span {
    opacity: 0;
    transition: all 500ms ease;
    &:last-child {
      opacity: 1;
      transform: translateX(-70px);
    }
  }
  &:hover {
    > span {
      opacity: 1;
      &:last-child {
        transform: translateX(15px);
      }
    }
  }
}

.canvas {
  background: $light;
  border-radius: 3px;
}

.alarm {
  display: inline-flex;
  align-items: center;
  animation: fadetoright 300ms ease;

  > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.information {
  padding: 30px 0 0 0;
  animation: fadetobottom 600ms ease;
}

@keyframes fadetoright {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadetobottom {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
